.component-button-edit, .component-button-delete{
    border: solid 2px;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
    padding: 5px 10px;
}
.component-button-edit:hover, .component-button-delete:hover{
    color: white;
}
.component-button-edit:hover{
    background-color: #00b0f0;
}
.component-button-delete:hover{
    background-color: #db4a49;
    cursor: pointer;
}
.component-button-edit{
    border-color: #00b0f0;
    color: #00b0f0;
    cursor: pointer;
}
.component-button-delete{
    border-color: #db4a49;
    color: #db4a49
}
.component-buttons{
    width: 80%;
    display:flex;
    align-items:end;
    justify-content:space-around;
    /* flex-direction: column; */
}
.component-photo{
    width: 95%;
}