.navbar li:hover ul {
    visibility: visible;
    display: block;
    height: 300%;
    opacity: 1;
    background-color: Orange;
}

.navbar * {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: block;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.navbar {
    background: CornflowerBlue;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

.navbar li:hover {
    transition: .2s;
    background-color: Orange;
}

.navbar ul li:hover {
    background-color: CornflowerBlue;
}

.navbar li ul {
    height: 0;
    visibility: hidden;
    background-color: orange;
    transition: height .5s, opacity .5s;
    opacity: 0;
}

.navbar li a {
    display: table-cell;
    min-width: 200px;
    text-align: center;
    color: White;
    text-decoration: none;
}